.vs/
.idea/
.vscode
.DS_Store
.zig-cache
zig-out
gen
project/lib/
**/.godot/**
**/.direnv
.envrc

!**/.godot/extension_list.cfg
!**/.godot/global_script_class_cache.cfg

gdzig/builtin/*.zig
gdzig/class/*.zig
gdzig/global/*.zig
!gdzig/builtin/variant.zig
!gdzig/class/vtable.zig
!gdzig/**/*.mixin.zig
!gdzig/**/*.replace.zig
gdzig/builtin.zig
gdzig/class.zig
gdzig/DispatchTable.zig
gdzig/global.zig
gdzig/general.zig
gdzig/math.zig
gdzig/random.zig
.claude/settings.local.json
